@keyframes drop {
  0% {
    transform-origin: 100% 0%;
    opacity: 0;
    transform: translate3d(-100px, 200px, 500px) rotateX(90deg) rotateY(90deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform-origin: 100% 0%;
    transform: translate3d(0, 0, 0) rotateX(30deg) rotateY(30deg);
    animation-timing-function: linear;
  }
  90% {
    transform-origin: 100% 0%;
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(15deg);
    animation-timing-function: linear;
  }
  100% {
    transform-origin: 100% 0%;
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
}

@keyframes flip-up {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateX(0deg);
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -300px, 100px) rotateX(270deg);
  }
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateX(0deg);
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, -500px) rotateX(225deg) rotateY(60deg);
  }
}
