@import 'vars';

@mixin user-select($value) {
  user-select: $value;
  -moz-user-select: $value;
  -khtml-user-select: $value;
  -webkit-user-select: $value;
  -o-user-select: $value;
}

@mixin not-only($role) {
  #content {
    @include not-only-custom($role);
  }
}

@mixin not-only-custom($role) {
  &:not(.#{$role}) .only-#{$role} {
    display: none;
  }

  &.#{$role} .not-#{$role} {
    display: none;
  }
}

@mixin roles($roles) {
  @each $role in $roles {
    @include not-only($role);
  }
}

@mixin card-container {
  display: flex;
  flex-direction: column;
}

@mixin card {
  display: flex;
  overflow: hidden;
  margin: 10px;

  color: white;
  background-color: #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  text-align: left;

  transition: background-color 300ms;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: #444;
  }

  .details {
    padding: 10px;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 3px;
  }

  p {
    font-size: 0.8em;
    line-height: 1em;
    margin: 5px 3px;
  }
}

@mixin deck($size) {
  .deck {
    $front-card-vertical-ratio: 5/6;

    position: relative;
    font-size: $size;
    width: $size;
    line-height: $size;

    .deck-num {
      position: absolute;
      color: black;
      font-size: 0.5em;
      line-height: $size * $front-card-vertical-ratio;
      top: (1 - $front-card-vertical-ratio) * 100%;
      right: 25%;
      left: 0;
      bottom: 0;
      text-align: center;
    }
  }
}

@mixin document {
  body {
    max-width: 980px;
  }

  #content {
    text-align: left;
  }

  h5 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
  }

  h6 {
    font-size: 2rem;
    font-weight: bold;
  }

  .heading-anchor {
    display: block;
    position: relative;
    top: -148px;

    &:target + {
      h5,
      a,
      p {
        background-color: #05614a;
      }
    }
  }
}

%btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > .input-wrapper, > input {
    margin: 0 $body-padding $body-padding 0;
  }
}

$scrollbar-width: 9px; // 'thin' on Firefox, Windows

%nice-scrollbar {
  // Only change scrollbar for devices with cursors
  @media (hover: hover) {
    scrollbar-width: thin;
    scrollbar-width: $scrollbar-width;

    &::-webkit-scrollbar {
      width: $scrollbar-width;
      height: $scrollbar-width;
      padding: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #444;
      border: 3px solid transparent;
      border-radius: $scrollbar-width;
      background-clip: content-box;
    }
  }
}