@font-face {
  font-family: 'Glyphicons Regular';
  src: url('../fonts/glyphicons-regular.woff') format('woff');
}

.glyphicon {
  font-family: 'Glyphicons Halflings';
  position: initial;
}

.glyphicon-large {
  font-family: 'Glyphicons Regular';
}

.glyphicon-skull:before {
  content: "\E291";
}

.glyphicon-bank:before {
  content: "\E264";
}

.glyphicon-more-items:before {
  content: "\E319";
}
