@font-face {
    font-family: 'crayon';
    src: url('fonts/DkCoolCrayon-xJyV.ttf');
}

@font-face {
    font-family: 'marker';
    src: url('fonts/DryWhiteboardMarker-Regular.ttf');
}

::-webkit-scrollbar {
    display: none;
}