@import 'glyphicons';
@import 'mixins';
@import 'vars';

body {
  @include user-select(none);
}

@include not-only('host');
@include not-only('spectator');
@include not-only('has-spectators');

%utility-menu-button" type="hidden-shape {
  border-top-right-radius: 10px;
}

%info-menu-button-shape {
  border-top-left-radius: 10px;
}

%menu-button-pseudo {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

%utility-menu-button" type="hidden-pseudo {
  @extend %menu-button-pseudo;
  @extend %utility-menu-button" type="hidden-shape;
}

%info-menu-button-pseudo {
  @extend %menu-button-pseudo;
  @extend %info-menu-button-shape;
}

$size: 48px;

$width: $size;
$height: ($size * 2/3);
$border-blur: ($base-border-blur * 2/3);
$border-spread: ($base-border-spread * 2/3);

%menu-button {
  @extend .glyphicon;

  display: initial;
  position: fixed;
  bottom: 0;
  width: $width;
  height: $height;
  line-height: $height * 1.1; // Why are glyphicons not vertically centred?...

  background-color: $bg-color;

  cursor: pointer;

  // Capture clicks beyond the small menu button
  &::before {
    @extend %menu-button-pseudo;

    $hit-size: $size * 1.5;

    top: initial;
    width: $hit-size;
    height: $hit-size;

    .base & {
      bottom: 50%;
      margin-bottom: (-$hit-size / 2);
    }
  }

  // Apply a shadow that spills off the edge of the screen
  &::after {
    @extend %menu-button-pseudo;

    z-index: -1;
    bottom: -$border-blur;
    box-shadow: 0 0 $border-blur $border-spread rgba(0, 0, 0, 0.5);
  }

  .base & {
    position: absolute;
    top: -$height;

    // Apply a shadow that doesn't cover the .base div
    &::after {
      @extend %menu-button-pseudo;

      z-index: -1;
      bottom: $border-blur - $border-spread;
      box-shadow: 0 (-$border-spread) $border-blur -1px rgba(0, 0, 0, 0.75);
    }
  }

  #disconnected &,
  #booted & {
    display: none;
  }
}

.utility-menu-button" type="hidden {
  @extend %menu-button;
  @extend %utility-menu-button" type="hidden-shape;

  left: 0;
  font-size: $size * 0.5;

  &::before {
    @extend %utility-menu-button" type="hidden-shape;
    right: initial;
  }

  &::after {
    @extend %utility-menu-button" type="hidden-pseudo;
    left: -$border-blur;
  }

  .base & {
    &::after {
      @extend %utility-menu-button" type="hidden-pseudo;
      left: -$border-blur;
    }
  }
}

.info-menu-button {
  @extend %menu-button;
  @extend %info-menu-button-shape;

  right: 0;
  font-size: $size * 0.4;

  &::before {
    @extend %info-menu-button-shape;
    left: initial;
  }

  &::after {
    @extend %info-menu-button-pseudo;
    right: -$border-blur;
  }

  .base & {
    &::after {
      @extend %info-menu-button-pseudo;
      right: -$border-blur;
    }
  }
}

$padding: 10px;
$max-height: 90%;

%sliding-overlay {
  hr {
    width: 100%;
    flex-shrink: 0;
  }

  .shade {
    z-index: 1000;
    transition: opacity 300ms;
    pointer-events: none;
    opacity: 0;
  }

  .sliding-panel {
    display: flex;
    flex-direction: column;

    z-index: 10000;
    position: fixed;

    width: $phone-width + $scrollbar-width; // Deal with scrollbars on desktop...
    max-width: 100vw; // ...but keep it looking nice on mobile

    bottom: -$max-height - 10%; // Make sure the drop-shadow doesn't show at the bottom
    max-height: $max-height;
    overflow-y: auto;
    transition: bottom 300ms;

    box-shadow: 0 0 10px black;
    background-color: #222;
  }

  .content {
    @extend %nice-scrollbar;
    padding: $padding;
    overflow-y: auto;
  }

  &.open {
    .shade {
      pointer-events: inherit;
      opacity: 1;
    }

    .sliding-panel {
      bottom: 0;
    }
  }

  .close-button {
    $size: 48px;
    position: absolute;
    top: 0;
    right: 0;
    width: $size;
    height: $size;
    line-height: $size;
    cursor: pointer;
    z-index: 100000;
  }
}

#utility-menu {
  @extend %sliding-overlay;

  @include not-only-custom('huddle');
  @include not-only-custom('can-leave');
  @include not-only-custom('can-spectate');
  @include not-only-custom('can-boot');
  @include not-only-custom('booting');

  .sliding-panel {
    left: 0;

    form {
      margin: 0;
    }

    .room-id {
      margin-bottom: 0;
    }

    .actions {
      @extend %btn-container;
      margin: -$padding;
      padding: $body-padding 0 0 $body-padding;
    }

    .room-id,
    .actions {
      flex-shrink: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
    }

    .player-section {
      @extend %nice-scrollbar;

      flex-shrink: 1;
      min-height: 28px * 2.5; // Fit 2.5 players at least
      overflow-y: auto;
      margin-bottom: $padding;

      .players,
      .spectators {
        padding-inline-end: $padding;
      }

      li {
        position: relative;

        &.current-player {
          font-weight: bold;
        }

        &::before {
          $size: 20px;

          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -$size/2;
          line-height: $size;
          height: $size;
          width: $size;

          font-weight: normal;
          font-size: $size;
        }
      }
    }

    .change-name {
      &:not(.open) form {
        display: none;
      }
      &.open > a {
        display: none;
      }
    }
  }

  &.booting {
    li {
      position: relative;

      &.boot-enabled {
        cursor: pointer;

        &::after {
          $size: 28px;
          position: absolute;
          right: $size;
          top: 0;
          bottom: 0;
          width: $size;
          font-size: $size;
          line-height: $size;
          content: '✖';
          color: white;
        }

        &.to-boot {
          text-decoration: line-through;

          &::after {
            color: $red;
          }
        }
      }
    }
  }
}

#spectator-base {
  @include not-only-custom('can-join');
}

#info {
  @extend %sliding-overlay;

  .sliding-panel {
    right: 0;
  }
}

#hide-flat {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 0;
  z-index: 30000;
  background-color: $bg-color;
  display: none;
}

#huddle,
#utility-menu {
  .spectators {
    padding-inline-start: 40px;
    margin-bottom: 10.5px;
    list-style-type: disc;
    text-align: left;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 15px 0;
}

.template {
  display: none !important;
}
